@keyframes modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-page-photographer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.header-main-photographer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 0 100px;
    padding: 0 50px;
    background-color: #FAFAFA;
}

.header-main-photographer h1 {
    margin-bottom: 0;
    color: #D3573C;
    font-size: 3.5em;
}

.header-main-photographer h2 {
    margin: 0;
    color: #901C1C;
    font-size: 2em;
}

.header-main-photographer p {
    color: #525252;
    font-size: 1.1em;
}

.header-main-photographer img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 2px 5px 15px#e0e4dc;
}

.contact_button,
.send_button,
.sort_button {
    width: 170px;
    height: 70px;
    padding: 11px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact_button:hover,
.contact_button:focus,
.sort_button:hover,
.sort_button:focus {
    color: #000000;
    background-color: #DB8876;
}

.opacity {
    opacity: 0.3;
    /*opacité du background quand la modale est ouverte*/
}

#contact_modal {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    overflow: auto;
    overscroll-behavior: contain;
    animation: modal 0.3s;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 10%;
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
    padding: 35px;
    border-radius: 5px;
    background-color: #DB8876;
}

.form-header {
    width: 100%;
    margin-bottom: 30px;
}

.form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal_close_button {
    background-color: #DB8876;
    border: transparent
}

.modal_close_button .fa-xmark {
    cursor: pointer;
    font-size: 46px;
    color: #ffffff;
}

.modal header h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.modal form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.modal form label {
    color: #312E2E;
    font-size: 26px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;
    margin-bottom: 26px;
}

.modal form input {
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 5px;
    border: none;
}

.form-contact .message {
    height: 110px;
}

.send_button {
    margin-top: 30px;
    transform: scale(1);
    transition: transform 400ms;
}

.send_button:hover {
    transform: scale(1.1);
}

.error {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #901C1C;
    transition: 0.3s;
}

.input-border.border-invalid {
    border: 2px solid #901C1C;
}

.photographer-portfolio {
    margin: 0 100px;
}

.filters {
    display: flex;
    align-items: baseline;
    margin: 40px 0 100px 0;
}

.filters-label {
    font-size: 1.2em;
}

.filters-list {
    display: flex;
    position: relative;
    margin-left: 40px;
}

.dropdown {
    display: none;
    position: absolute;
    width: 170px;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown-item {
    display: flex;
    align-items: center;
    position: relative;
    height: 68px;
    padding: 0 18px;
}

.dropdown-item:nth-child(1)::after,
.dropdown-item:nth-child(2)::after {
    content: "";
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    height: 1px;
    background-color: white;
}

.dropup_button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 55px;
    /*background-color: #901C1C;*/
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid blue;
}

.picture-gallery {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    row-gap: 30px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.artwork {
    cursor: pointer;
}

.picture img,
video {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    color: #901C1C;
}

.picture .title,
.video .title {
    margin: 0;
}

.likes-count {
    display: flex;
    align-items: center;
}

.fa-heart {
    padding: 10px;
}

#main .label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 40px;
    width: 380px;
    height: 70px;
    box-sizing: border-box;
    padding: 0 30px;
    border-radius: 5px;
    background-color: #DB8876;
    font-size: 1.3em;
}

.lightbox {
    color: #901C1C;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.lightbox_close_button {
    position: absolute;
    top: 2%;
    right: 15%;
    border: transparent;
    background-color: #ffffff;
}

.lightbox_close_button .fa-xmark,
.fa-chevron-left,
.fa-chevron-right {
    cursor: pointer;
    font-size: 34px;
    color: #901C1C;
}

.media-artwork {
    width: 850px;
    margin: 0 20px;
}

.media-artwork img,
.media-artwork video {
    object-fit: cover;
    width: 100%;
    height: 850px;
    border-radius: 5px;
}

.lightbox-artwork-title {
    font-size: 1.2em;
    margin: 10px 0;
}