@keyframes modal {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header-page-photographer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.photographer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photographer-header h1 {
    color: #D3573C;
    font-size: 2.5em;
    margin-bottom: 0;
}

.photographer-header h2 {
    color: #901C1C;
    font-size: 1.5em;
    margin: 0;
}

.photographer-header p {
    color: #525252;
}

.photographer-header img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    box-shadow: 2px 5px 8px#F7FBF4;
}

.contact_button,
.send_button,
.filter #list {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.contact_button:hover,
.contact_button:focus {
    color: #000000;
    background-color: #DB8876;
}

#contact_modal {
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(218, 201, 201, 0.4);
    overflow: auto;
    animation: modal 0.3s;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: relative;
    margin: 0 auto;
    top: 15%;
}

.form-header {
    width: 100%;
    margin-bottom: 30px;
}

.form-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 54px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

.modal form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.modal form label {
    color: #312E2E;
    font-size: 36px;
}

.modal form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.send_button {
    margin-top: 30px;
}

.erreur {
    font-size: 1.2em;
    color: #901C1C;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.3s;
}

.border-invalid {
    border: 10px solid #901C1C;
}

.photographer-portfolio {
    margin: 0 100px;
}

.photographer-portfolio .filter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photographer-portfolio .filter label {
    font-size: 1em;
    font-weight: bold;
}

.photographer-portfolio .filter #list {
    margin-left: 20px;
}

.artwork {
    width: 350px;
}

.artwork img {
    margin-top: 30px;
    height: 300px;
    border-radius: 5px;
}

.artwork .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.artwork p,
.artwork i {
    color: #901C1C;
    font-size: 1.1em;
    margin: 0;
}

#main .label {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    height: 70px;
    padding: 0 30px;
    border-radius: 5px;
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 40px;
}